.logo {
    width: 192px;
}

.header-btn ~ .header-btn {
    margin-left: 15px;
}

.page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header + .content {
    padding-top: 82px;
}

.content {
    flex: 1;
}

.language {
    padding-left: 15px;
    font-size: 0.8rem;
}

.language-item {
    color: #000;
    text-transform: uppercase;
    line-height: 34px;
    padding: 0 2px;
}

.language-item:hover {
    text-decoration: none;
}

.language-item.active {
    text-decoration: none;
    cursor: default;
    pointer-events: none;
}

.grid {
    display: grid;
    grid-template-rows: repeat(var(--bs-rows, 1), 1fr);
    grid-template-columns: repeat(var(--bs-columns, 12), 1fr);
    gap: var(--bs-gap, 1.5rem);
}

.grid .g-col-4 {
    grid-column: auto/span 4;
}
